h1 {
    margin: 10px;
    margin-bottom: 20px;
}
.container {
    background-color: Black;
    height: 650px;
    color: white;
    margin-top: 40px;
    text-align: center;
}


.container2 {
    width: 90%;
    height: 70%;
    background-color: white;
    margin: auto;
    margin-top: 50px;
}